<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarCraft RPG</title>
</head>
<body>
    <section>
        <form action="">
            <h3>StarCraft RPG</h3>
            <p>Description here</p>
            <input id="user" type="text" name="" placeholder="Username">
            <input id="pass" type="password" name="" placeholder="Password">
            <button id="send_btn">Send</button>
        </form>
    </section>

    <script type="module" src="./js/script.js"></script>
</body>
</html>