<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarCraft RPG</title>
</head>
<body>
    <section>
        <form method="POST" action="{{ url_for('login') }}">
            <h3>StarCraft RPG</h3>
            <p>Description here</p>
            <input id="username" name="username" required type="text" name="" placeholder="Username">
            <input id="password" name="password" required type="password" name="" placeholder="Password">
            <button id="login_btn" type="submit">Send</button>
        </form>
    </section>

    <script type="module" src="./js/script.js"></script>
</body>
</html>